<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Archived Projects</title>
    <link th:href="@{/main-final.css}" rel="stylesheet">
</head>
<body>
<div class="form-page-container">
    <header class="header">
        <h1>Archived Projects</h1>
        <form action="/logout" method="get">
            <button type="submit" class="logout-button">
                <img src="/pictures/log-out-icon.svg" alt="Log out icon" class="logout-icon"> Log out
            </button>
        </form>
    </header>
    <main class="form-page-main">
        <!-- Hvid boks for arkiverede projekter -->
        <div class="white-box">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Description</th>
                    <th>Total budget</th>
                    <th>Material Cost</th>
                    <th>Total Workforce Expenses</th>
                    <th>Total time consumption</th>

                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(archivedProjects)}">
                    <td colspan="4">No archived projects available.</td>
                </tr>
                <tr th:each="project : ${archivedProjects}">
                    <td th:text="${project.projectName}"></td>
                    <td th:text="${project.projectDescription}"></td>
                    <td th:text="${#numbers.formatDecimal(project.budget, 0, 0) + ' kr'}"></td>
                    <td>
                        <span th:text="${project.materialCost} +  ' DKK'"></span>
                        <span th:if="${project.materialCost / project.budget <= 0.30}"
                              class="label sustainable">Sustainable</span>
                        <span th:if="${project.materialCost / project.budget > 0.30}"
                              class="label not-sustainable">Not Sustainable</span>
                    </td>
                    <td th:text="${project.employeeCost + ' DKK'}"></td>
                    <td th:text="${project.estimatedTimeConsumption + ' hours'}"></td>

                </tr>
                </tbody>
            </table>
            <form action="/project/project-leader-overview" method="get">
                <button type="submit" class="action-button">Back to Project Overview</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>
