<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Edit Project</title>
    <link th:href="@{/main-final.css}" rel="stylesheet">
</head>
<body>

<div class="form-page-container">
    <header class="header">
        <h1>Edit Project</h1>
        <form action="/logout" method="get">
            <button type="submit" class="logout-button">
                <img src="/pictures/log-out-icon.svg" alt="Log out icon" class="logout-icon"> Log out
            </button>
        </form>
    </header>
    <main class="form-page-main">
        <div class="white-box">
            <form th:action="@{/project/edit-project}" th:object="${project}" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" type="text" th:field="*{projectName}" placeholder="Enter project name..." required />
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input id="description" class="form-control" type="text" th:field="*{projectDescription}" placeholder="Enter project description..." required />
                </div>

                <div class="form-group">
                    <label for="materialCost">Material Cost</label>
                    <input id="materialCost" class="form-control" type="text" th:field="*{materialCost}" placeholder="Enter material cost..." required />
                </div>

                <div class="form-group">
                    <label for="budget">Budget</label>
                    <input id="budget" class="form-control" type="text" th:field="*{budget}" placeholder="Enter budget..." required />
                </div>

                <input type="hidden" th:field="*{projectId}" />
                <input type="hidden" th:field="*{employeeId}" />

                <button type="submit" class="action-button">Save Changes</button>
            </form>

            <form th:action="@{/project/project-leader-overview}" method="get">
                <button type="submit" class="action-button">Cancel</button>
            </form>
        </div>
    </main>
</div>

</body>
</html>
