<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>Add Task</title>
  <link th:href="@{/main-final.css}" rel="stylesheet">
</head>
<body>
<div class="form-page-container">
  <header class="header">
    <h1>Add Task</h1>
    <form action="/logout" method="get">
      <button type="submit" class="logout-button">
        <img src="/pictures/log-out-icon.svg" alt="Log out icon" class="logout-icon"> Log out
      </button>
    </form>
  </header>
  <main class="form-page-main">
    <div class="white-box">
      <form th:action="@{/task/task-added}" th:object="${task}" method="post" class="form-container">

        <div class="form-group">
          <label for="taskName">Task Name:</label>
          <input id="taskName" class="form-control"
                 type="text"
                 th:field="*{taskName}"
                 placeholder="Enter task name" required />
        </div>

        <div class="form-group">
          <label for="startdate">Start Date:</label>
          <input id="startdate" class="form-control"
                 type="date"
                 th:field="*{startdate}"
                 required />
        </div>

        <div class="form-group">
          <label for="enddate">End Date:</label>
          <input id="enddate" class="form-control"
                 type="date"
                 th:field="*{enddate}"
                 required />
        </div>

        <div class="form-group">
          <label for="estimatedHours">Estimated Hours:</label>
          <input id="estimatedHours" class="form-control"
                 type="number"
                 th:field="*{estimatedHours}"
                 placeholder="Enter estimated hours" required />
        </div>


        <input type="hidden" name="subprojectId" th:value="${subprojectId}" />
        <input type="hidden" name="employeeId" th:value="${employeeId}" />
        <input type="hidden" th:field="*{status}" th:value="NOTSTARTED" />

        <div class="form-actions">
          <button type="submit" class="action-button">Add Task</button>
        </div>

      </form>
      <form action="/task/project-leader-tasks" method="get">
        <input type="hidden" name="subprojectId" th:value="${subprojectId}" />
        <button type="submit" class="action-button">Cancel</button>
      </form>
    </div>
  </main>
</div>
</body>
</html>
