<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Worker Overview - Tasks</title>
    <link th:href="@{/main-final.css}" rel="stylesheet">
</head>
<body>
<div class="overview-container">
    <header class="header">
        <h1>Worker Overview - Tasks</h1>
        <form action="/logout" method="get">
            <button type="submit" class="logout-button">
                <img src="/pictures/log-out-icon.svg" alt="Log out icon" class="logout-icon"> Log out
            </button>
        </form>
    </header>
    <main>
        <section class="workload-section">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Work days </th>
                    <th>Required hours</th>
                    <th>Daily hour limit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${Workload}">
                    <td th:text="${row[0]}"></td> <!-- Date -->
                    <td th:text="${#numbers.formatDecimal(row[1], 1, 'COMMA', 2, 'POINT')} + ' hours'"></td><!-- required hours med kun 2 decimaler-->

                    <td>
                        <span th:text="${row[2]}"></span> <!-- Max Hours -->
                        <span th:if="${row[2] < row[1]}+ ' hours'"
                              class="label not-sustainable">Work time exceeded</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="task-section">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Estimated Hours</th>
                    <th>Actual Hours</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasklist}">
                    <td th:text="${task.taskName}"></td>
                    <td th:text="${task.startdate}"></td>
                    <td th:text="${task.enddate}"></td>
                    <td th:text="${task.status}"></td>
                    <td th:text="${task.estimatedHours}"></td>
                    <td th:text="${task.getActualHours()}"></td>
                    <td>
                        <form action="/task/task-status" method="get" class="action-form">
                            <input type="hidden" name="taskId" th:value="${task.taskId}" />
                            <button type="submit" class="action-button">Change Task Status</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
</body>
</html>
