<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Homepage</title>
    <link th:href="@{/main-final.css}" rel="stylesheet">
</head>
<body>
<div class="homepage-container">
    <header class="homepage-header">
        <div class="logo-container">
            <h3>A ZMA Product</h3>
            <img src="pictures/ZMA-logo.webp" alt="ZMA logo" class="logo">
            <img src="pictures/alpha-solution-logo.svg" alt="alpha solution" class="logo">
            <form action="/login" method="get">
                <button type="submit" class="action-button">Go to login page</button>
            </form>
        </div>
    </header>
</div>
</body>
</html>
