<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>502 - Bad Gateway</title>
    <link th:href="@{/main-final.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1>502 - Bad Gateway</h1>
    <h2>This error means the server, acting as a gateway, received an invalid response while trying to fulfill the request.</h2>
    <h3 th:text="${message}"></h3>
    <h4>Try checking your syntax or contact the administrator at AMZstud@kea.dk</h4>
</header>
<form action="/" method="get">
    <button type="submit">Go to Login Page</button>
</form>
</body>
</html>
