<!DOCTYPE html>
<link th:href="@{/main-final.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="header">
<header>
<h1>There has been a 502 bad gateway error</h1>
    <br>
<h1>This error response means that the server,
    while working as a gateway to get a response needed to handle the request,
    got an invalid response.</h1>
    <br>
<h1>An Error Occured in the Backend System!</h1>
    <br>
<h4>Contact the administrator on AMZDstud.kea.dk</h4>
    <br>
    <h2><span th:text="${message}"></span></h2>
</header>
<form action="/" method="get">
    <button type="submit">Go to loginpage</button>
</form>
</body>
</html>