<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <title>Max hours for worker exceeded</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
    <body>
            <h1>Max hours for worker exceeded</h1>
            <h3>The current amount of hours for this worker is: </h3>
                <a th:text="${totalTaskHours}"></a>
                    <h3>And the worker has the following hours available: </h3>
                <a th:text="${employee.maxHours}"></a>

                <form action="/project-leader-overview" method="get">
                <button type="submit">Back to subproject Overview</button>
                </form>
    </body>
</html>