<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Task</title>
  <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Add Task</h1>
<form th:action="@{/task-added}" th:object="${task}" method="post">

  <label for="taskName">Task Name:</label>
  <input id="taskName" class="form-control"
         type="text"
         th:field="*{taskName}"
         placeholder="Enter task name" required />
  <br>

  <label for="startdate">Start Date:</label>
  <input id="startdate" class="form-control"
         type="date"
         th:field="*{startdate}"
         required />
  <br>

  <label for="enddate">End Date:</label>
  <input id="enddate" class="form-control"
         type="date"
         th:field="*{enddate}"
         required />
  <br>

  <label for="estimatedHours">Estimated Hours:</label>
  <input id="estimatedHours" class="form-control"
         type="number"
         th:field="*{estimatedHours}"
         placeholder="Enter estimated hours" required />
  <br>

  <input type="hidden"  name="subprojectId" th:value="${subprojectId}" />

  <input type="hidden" name="employeeId" th:value="${employeeId}" />
  <input type="hidden" th:field="*{status}" value="NOTSTARTED" /> <!--da det er ny task antager vi at den ikke er startet-->

  <input type="hidden"  name="subprojectName" th:value="${subprojectName}" />

  <button type="submit" class="btn btn-primary">Add Task</button>

</form>

</body>
</html>
