<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Task</title>
  <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Add Task</h1>
<form th:action="@{/task-added}" th:object="${task}" method="post">

  <label for="task_name">Task Name:</label>
  <input id="task_name" class="form-control"
         type="text"
         th:field="*{task_name}"
         placeholder="Enter task name" required />
  <br>

  <label for="start_date">Start Date:</label>
  <input id="start_date" class="form-control"
         type="date"
         th:field="*{startdate}"
         required />
  <br>

  <label for="end_date">End Date:</label>
  <input id="end_date" class="form-control"
         type="date"
         th:field="*{enddate}"
         required />
  <br>

  <label for="estimated_hours">Estimated Hours:</label>
  <input id="estimated_hours" class="form-control"
         type="number"
         th:field="*{estimated_hours}"
         placeholder="Enter estimated hours" required />
  <br>

  <label for="actual_hours">Actual Hours:</label>
  <input id="actual_hours" class="form-control"
         type="number"
         th:field="*{actual_hours}"
         placeholder="Enter actual hours" />
  <br>
  <input type="hidden"  name="subproject_id" th:value="${subprojectId}" />

  <input type="hidden" name="employee_id" th:value="${employeeId}" />
  <input type="hidden" th:field="*{status}" value="NOTSTARTED" /> <!--da det er ny task antager vi at den ikke er startet-->

  <button type="submit" class="btn btn-primary">Add Task</button>
</form>

</body>
</html>
