<!DOCTYPE html>
<html lang="en">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete Task</title>
</head>
<body>
<h1>Confirm Delete Task</h1>
<p>Are you sure you want to delete the task with ID: <span th:text="${taskId}"></span>?</p>
<form th:action="@{/delete-task}" method="post">
    <input type="hidden" name="taskName" th:value="${taskName}">
    <input type="hidden" name="subprojectName" th:value="${subprojectName}">
    <button type="submit">Confirm Delete</button>
</form>


<a th:href="@{'/project-leader-tasks?subprojectName=' + ${subprojectName}}" >Cancel</a>

</body>
</html>
