<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <title>Edit Project</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<h1>Edit Project</h1>
<form th:action="@{/edit-project}" th:object="${project}" method="post">
    <label for="name">Name</label>
    <input id="name"
           type="text"
           th:field="*{projectName}"
           placeholder="Enter project name..." />
    <br>
    <label for="description">Description</label>
    <input id="description"
           type="text"
           th:field="*{projectDescription}"
           placeholder="Enter project description..." />


      <label for="materialCost">Material Cost</label>
    <input id="materialCost"
           type="text"
           th:field="*{materialCost}"
           placeholder="Enter material cost..." />

          <label for="budget">Budget</label>
    <input id="budget"
           type="text"
           th:field="*{budget}"
           placeholder="Enter budget..." />

    <br>
    <input type="hidden" th:field="*{projectId}" />
    <input type="hidden" th:field="*{employeeId}" />
    <button type="submit">Edit Subproject</button>
</form>
<form action="/project-leader-overview" method="get">
    <button type="submit">Back to overview</button>
</form>
</body>
</html>