<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <title>Edit subproject</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<h1>Edit subproject</h1>
<form th:action="@{/edit-subproject}" th:object="${subproject}" method="post">
    <label for="name">Name</label>
    <input id="name"
           type="text"
           th:field="*{subproject_name}"
           placeholder="Enter subproject name..." />
    <br>
    <label for="description">Description</label>
    <input id="description"
           type="text"
           th:field="*{subproject_description}"
           placeholder="Enter subproject description..." />
    <br>
    <input type="hidden" th:field="*{subproject_id}" />
    <input type="hidden" th:field="*{project_id}" />
    <button type="submit">Edit Subproject</button>
</form>
<form action="/project-leader-overview" method="get">
    <button type="submit">Back to overview</button>
</form>
</body>
</html>