<!DOCTYPE html>
<html lang="en">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<table>
    <tr>
        <form action="/validate_login" method="post">
            <!-- Email input -->
            <td>Email</td>
            <td><input type="text" name="email" required></td>
            <br>

            <!-- Password input -->
            <td>Password</td>
            <td><input type="password" name="password" required></td>
            <br>

            <!-- Fejlmeddelelse -->
            <td colspan="2">
                <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
            </td>
            <br>

            <!-- Login knap -->
            <td colspan="2">
                <button type="submit">Login</button>
            </td>
        </form>
    </tr>
</table>

</body>
</html>

