<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Leader Overview over Subprojects</title>
  <link th:href="@{/main-final.css}" rel="stylesheet">
</head>
<body>
<div class="overview-container">
  <header class="header">
    <h1>Project Leader Overview over Subprojects</h1>
  </header>
  <main>
    <section class="project-section">
      <header class="header">
      <h2>Project Details</h2>
      </header>
      <table class="styled-table">
        <thead>
        <tr>
          <th>Belongs to Project Name:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td th:text="${project.projectName}"></td>
        </tr>
        </tbody>
      </table>
    </section>

    <section class="subprojects-section">
      <header class="header">
      <h2>Subprojects</h2>
      </header>
      <table class="styled-table">
        <thead>
        <tr>
          <th>Subproject Name</th>
          <th>Description</th>
          <th>Estimated time</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subproject : ${subprojects}">
          <td th:text="${subproject.subprojectName}"></td>
          <td th:text="${subproject.subprojectDescription}"></td>
          <td th:text="${calculatedTime}"></td> <!--SLET-->
          <td>
            <form action="/project-leader-tasks" method="get" class="action-form">
              <input type="hidden" name="subprojectId" th:value="${subproject.subprojectId}" />
              <button type="submit" class="action-button">View Tasks</button>

            </form>
            <form th:action="@{/edit-subproject}" method="get" class="action-form">
              <input type="hidden" name="subprojectId" th:value="${subproject.subprojectId}" />
              <button type="submit" class="action-button">Edit Subproject</button>
            </form>

          </td>
        </tr>
        </tbody>
      </table>
    </section>

    <div class="button-group">
      <form action="/project-leader-overview" method="get">
        <button type="submit">Back to Project Overview</button>
      </form>
      <form action="/logout" method="get">
        <button type="submit">Log out</button>
      </form>
    </div>
  </main>
</div>
</body>
</html>

