<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Worker Overview</h1>
<!--<h1 th:text="${employee.email}"></h1>-->

<!--<h2 th:text="${project.project_name}">Project</h2>-->
<table>
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>

    <th:block th:if="${project == null}">
        <span>No project available</span>
    </th:block>

    <th:block th:if="${project != null}">
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.projectDescription}"></td>
    </th:block>

    </tbody>
</table>

<h2>Subprojects</h2>
<table>
    <thead>
    <tr>
        <th>Subproject Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <th:block th:if="${subprojects == null}">
        <span>No subproject available</span>
    </th:block>
    <tbody>
    <tr th:each="subproject : ${subprojects}">
        <td th:text="${subproject.subprojectName}"></td>
        <td th:text="${subproject.subprojectDescription}"></td>
    </tr>
    </tbody>
</table>

<h2>Tasks</h2>
<table>
    <thead>
    <tr>
        <th>Task Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Status</th>
        <th>Estimated hours</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasklist}">
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.startdate}"></td>
        <td th:text="${task.enddate}"></td>
        <td th:text="${task.status}"></td>
        <td th:text="${task.estimatedHours}"></td>
        <td>
        <form action="/task-status" method="get">
            <input type="hidden" name="taskName" th:value="${task.taskName}" />
            <button type="submit">Change task status</button>
        </form>
        </td>
    </tr>
    </tbody>
</table>
<form action="/logout" method="get">
    <button type="submit">Log out</button>
</form>

</body>
</html>
