<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Worker Overview - Tasks</title>
    <link th:href="@{/main-finall.css}" rel="stylesheet">
</head>
<body>
<div class="overview-container">
    <header class="header">
        <h1>Worker Overview - Tasks</h1>
    </header>
    <main>
        <section class="task-section">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Estimated Hours</th>
                    <th>Actual Hours</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasklist}">
                    <td th:text="${task.taskName}"></td>
                    <td th:text="${task.startdate}"></td>
                    <td th:text="${task.enddate}"></td>
                    <td th:text="${task.status}"></td>
                    <td th:text="${task.estimatedHours}"></td>
                    <td th:text="${task.getActualHours()}"></td>
                    <td>
                        <form action="/task-status" method="get" class="action-form">
                            <input type="hidden" name="taskId" th:value="${task.taskId}" />
                            <button type="submit" class="action-button">Change Task Status</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

        <!-- Logout Section -->
        <div class="button-group">
            <form action="/logout" method="get">
                <button type="submit" class="action-button">Log Out</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>
