<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>Project Leader Overview over Subprojects</title>
  <link th:href="@{/main-final.css}" rel="stylesheet">
</head>
<body>
<div class="overview-container">
  <header class="header">
    <h1>Project Leader Overview - Subprojects</h1>
    <form action="/logout" method="get">
      <button type="submit" class="logout-button">
        <img src="/pictures/log-out-icon.svg" alt="Log out icon" class="logout-icon"> Log out
      </button>
    </form>
  </header>
  <main>
    <section class="project-section">
      <table class="styled-table">
        <thead>
        <tr>
          <th>Belongs to Project:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td th:text="${project.projectName}"></td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="subprojects-section">
      <table class="styled-table">
        <thead>´
        <tr>
          <th>Subproject Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subproject : ${subprojects}">
          <td th:text="${subproject.subprojectName}"></td>
          <td th:text="${subproject.subprojectDescription}"></td>
          <td>
            <form action="/task/project-leader-tasks" method="get" class="action-form">
              <input type="hidden" name="subprojectId" th:value="${subproject.subprojectId}" />
              <button type="submit" class="action-button">View Tasks</button>
            </form>
            <form th:action="@{/subproject/edit-subproject}" method="get" class="action-form">
              <input type="hidden" name="subprojectId" th:value="${subproject.subprojectId}" />
              <button type="submit" class="action-button">Edit Subproject</button>
            </form>

          </td>
        </tr>
        </tbody>
      </table>
    </section>

    <div class="button-group">
      <form action="/project/project-leader-overview" method="get">
        <button type="submit">Back to Project Overview</button>
      </form>
      <form action="/subproject/add-subproject" method="get">
        <input type="hidden" name="projectId" th:value="${project.projectId}" />
        <button type="submit">Add subproject</button>
      </form>
    </div>
  </main>
</div>
</body>
</html>

